@model MedicalEquipmentSystem.ViewModels.HomeIndexViewModel

@{ 
    ViewBag.Title = "Home Page";
   
}

    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var restuarnt in Model.restaurant)
        {
            <tr>
                <td>@restuarnt.id </td>
                <td>@restuarnt.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@restuarnt.id">More</a>
                </td>
            </tr>
        }
    </table>

@section footer {
    @Model.CurrentMessage
}
